{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"allowImportExportEverywhere": true
	},
	"rules": {
		"indent": ["warn", "tab"],
		"linebreak-style": ["warn", "unix"],
		"semi": ["error", "always"],
		"quotes": ["warn", "double"],
		"no-unused-vars": ["off", {"vars": "none", "args": "none", "varsIgnorePattern": "*"}],
        "no-console": ["warn"],
        "no-undef": ["off"]
	},
	"env": {
		"es6": true,
		"browser": true,
		"node": false
	},
	"extends": [
		"eslint:recommended"
	]
}